<a href="{{ item.url }}" class="block {{ longTitle item.title.rendered }}" >
    <span class="date">{{formatDate item.date 'D MMMM YYYY'}}</span>
    <h2>{{{ item.title.rendered }}}</h2>
    <span class="author">{{ item.author.first_name }} {{ item.author.last_name }}</span>
</a>
