<div id="cases">

    <div id="left_block" class="rhombus">
    </div>

    <div id="right_block" class="rhombus">
    </div>


    <div id="center_block" class="rhombus">

        <!-- *ngFor="let case of cases"  -->


        <div class="block">

            <logo color="white" class="reverse"></logo>

            <h3 class="reverse">Cases</h3>

        </div>

        <div class="block">

            <!-- leeg  -->

        </div>

        <div class="block flipside" ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">
                <div class="front">
                    <!--<img *ngIf="cases[2].thumbnail_images" [src]="cases[2].thumbnail_images.thumb_klein.url" alt="{{body.cases.[2].title}}" title="{{body.cases.[2].title}}" />-->
                </div>
                <div class="back">
                    <div class="title">Neerlands Diep</div>
                    <h3>Positionering</h3>
                </div>
            </div>
        </div>

        <div class="block">
            <!-- leeg  -->
        </div>

        <div class="block">

            <!-- leeg  -->

        </div>

        <div class="block flipside" ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">
                <div class="front">
                    <!--<img *ngIf="cases[1].thumbnail_images" [src]="cases[1].thumbnail_images.thumb_klein.url" alt="{{body.cases.[1].title}}" title="{{body.cases.[1].title}}" />-->
                </div>
                <div class="back">
                    <div class="title">{{body.cases.[1].title}}</div>
                </div>
            </div>
        </div>

        <div class="block flipside" ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">
                <div class="front">
                    <!--<img *ngIf="cases[4].thumbnail_images" [src]="cases[4].thumbnail_images.thumb_klein.url" alt="{{body.cases.[4].title}}" title="{{body.cases.[4].title}}" />-->
                </div>
                <div class="back">
                    <div class="title">{{body.cases.[4].title}}</div>
                </div>
            </div>
        </div>

        <div class="block flipside" ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">
                <div class="front">
                    <!--<img *ngIf="cases[7].thumbnail_images" [src]="cases[7].thumbnail_images.thumb_klein.url" alt="{{body.cases.[7].title}}" title="{{body.cases.[7].title}}" />-->
                </div>
                <div class="back">
                    <div class="title">{{body.cases.[7].title}}</div>
                </div>
            </div>
        </div>

        <div class="block flipside" ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">
                <div class="front">
                    <!--<img *ngIf="cases[0].thumbnail_images" [src]="cases[0].thumbnail_images.thumb_klein.url" alt="{{body.cases.[0].title}}" title="{{body.cases.[0].title}}" />-->
                </div>
                <div class="back">
                    <div class="title">{{body.cases.[0].title}}</div>
                </div>
            </div>
        </div>

        <div class="block flipside" ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">
                <div class="front">
                    <!--<img *ngIf="cases[3].thumbnail_images" [src]="cases[3].thumbnail_images.thumb_klein.url" alt="{{body.cases.[3].title}}" title="{{body.cases.[3].title}}" />-->
                </div>
                <div class="back">
                    <div class="title">{{body.cases.[3].title}}</div>
                </div>
            </div>
        </div>


        <div class="block flipside" ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">
                <div class="front">
                    <!--<img *ngIf="cases[6].thumbnail_images" [src]="cases[6].thumbnail_images.thumb_klein.url" alt="{{body.cases.[6].title}}" title="{{body.cases.[6].title}}" />-->
                </div>
                <div class="back">
                    <div class="title">{{body.cases.[6].title}}</div>
                </div>
            </div>
        </div>

        <div class="block">

            <!-- leeg  -->

        </div>

        <div class="block">

            <!-- leeg  -->

        </div>


        <div class="block flipside" ontouchstart="this.classList.toggle('hover');">

            <div class="flipper">
                <div class="front">
                    <!--<img *ngIf="cases[5].thumbnail_images" [src]="cases[5].thumbnail_images.thumb_klein.url" alt="{{body.cases.[5].title}}" title="{{body.cases.[5].title}}" />-->
                </div>
                <div class="back">
                    <div class="title">{{body.cases.[5].title}}</div>
                </div>
            </div>
        </div>

        <div class="block">

            <!-- leeg  -->

        </div>

        <div class="block">

            <!-- leeg  -->

        </div>

    </div>

</div>

