<div id="introduction">

    <div id="top">
        <!--[ngClass]="{highlight: highlight}"&ndash;&gt;-->

        <div class="container">

            <!--{{> responsive-image id="manon_schuin" size='full' title=intro.attachments.[0].alttext external_id=intro.attachments.[0].external_id filename=intro.attachments.[0].filename }}-->

            <!-- (mouseenter)="highlightManon()" (mouseleave)="grayscaleManon()"  -->

            <div id="triangle">
                <!--[ngClass]="{highlight: highlight}"-->
                <div class="text">
                    {{{triangulizer body.homepage.content.rendered }}}
                    <a href="http://manon.nl">Lees meer</a>
                </div>
                <!--<responsiveimage class="responsiveimage" *ngIf="quotes[0] && screen !== 'phone'" [content]="quotes[0].attachments[0]"></responsiveimage>-->
            </div>
        </div>
    </div>

   <div id="bottom">
        <!-- [ngClass]="{highlight: highlight}">-->
        <!--<responsiveicon type="left" color="#000"></responsiveicon>-->

        <div class="container">
            {{#each body.testimonials as |testimonial| }}
            <div class="quote {{#ifEquals @index 0}}active{{/ifEquals}}" onclick="home.nextSnippet({{@index}} + 1)">

                <div class="text">{{{testimonial.quote1}}}</div>
                <div class="persoon">{{testimonial.auteur}}| {{testimonial.organisatie}}</div>

            </div>

            {{/each}}
        </div>

        <!--<responsiveicon type="right" color="#000"></responsiveicon>-->
    </div>
</div>

