<a href="{{link.url}}" target="_blank" class="recommendation">

    <div class="recommendation--tag">
        <!--<span>{{ indexBump @index }}</span>. -->
        {{link.tag}}
    </div>
    <div class="recommendation--title">
        {{link.title}}
    </div>
    <div class="recommendation--subtitle">
        {{link.subtitle}}
    </div>

</a>

<form class="replaceLinkform" data-item-id="{{ indexBump @index }}">

    <span>Replace this item</span>
    <input type="text"  placeholder="http://website.page">
    <button>replace</button>

</form>
