<div class="recommendation" data-item-id="{{ @index }}">

    <a href="{{link.url}}" target="_blank" class="">
        <div class="recommendation--tag">
            <!--<span>{{ indexBump @index }}</span>. -->
            {{link.author}}
        </div>
        <div class="recommendation--title">
            {{link.title}}
        </div>
        <div class="recommendation--subtitle">
            {{link.subtitle}}
        </div>
    </a>

    <div class="action-strip">
        {{> icon-replace}}
    </div>

    <form class="replaceLinkForm" data-item-id="{{ @index }}">
        <input class="small" type="text"  placeholder="http://website.page">
        <button class="small">get MetaData</button>
    </form>

    {{> spinner}}

</div>


