<noscript>
    <img src="https://ucarecdn.com/{{external_id}}/-/resize/1700x/{{filename}}" alt="{{title}}" title="{{title}}" />
</noscript>


{{#ifEquals format 'camera'}}

    <div class="img-container camera {{../class}}">

        <img src="https://ucarecdn.com/{{../external_id}}/-/scale_crop/60x40/center/{{../filename}}"
             data-src="https://ucarecdn.com/{{../external_id}}/-/scale_crop/600x400/center/{{../filename}}"
             data-srcset="
            https://ucarecdn.com/{{../external_id}}/-/scale_crop/600x400/center/{{../filename}} 760w,
            https://ucarecdn.com/{{../external_id}}/-/scale_crop/900x600/center/{{../filename}} 900w,
            https://ucarecdn.com/{{../external_id}}/-/scale_crop/1200x800/center/{{../filename}} 1200w,
            https://ucarecdn.com/{{../external_id}}/-/scale_crop/1800x1200/center/{{../filename}} 1700w,
            https://ucarecdn.com/{{../external_id}}/-/scale_crop/2400x1600/center/{{../filename}} 2500w"

            {{#ifEquals ../size 'half'}}
             sizes="(min-width: 900px) 50vw, 100vw"
            {{/ifEquals}}
            {{#ifEquals ../size 'third'}}
             sizes="(min-width: 900px) 33vw, 100vw"
            {{/ifEquals}}
            {{#ifEquals ../size 'fourth'}}
             sizes="(min-width: 900px) 25vw, 100vw"
            {{/ifEquals}}

             alt="Foto bij {{title}}"
             title="Foto bij {{title}}"
             class="lazyload"
             data-sizes="auto"/>

        {{{ @partial-block }}}

    </div>

{{else ifEquals ../format 'square'}}

    <div class="img-container square {{../class}}">

        <img
             src="https://ucarecdn.com/{{../external_id}}/-/scale_crop/40x40/center/{{../filename}}"
             data-src="https://ucarecdn.com/{{../external_id}}/-/scale_crop/400x400/center/{{../filename}}"
             data-srcset="
                https://ucarecdn.com/{{../external_id}}/-/scale_crop/400x400/center/{{../filename}} 400w,
                https://ucarecdn.com/{{../external_id}}/-/scale_crop/800x800/center/{{../filename}} 800w,
                https://ucarecdn.com/{{../external_id}}/-/scale_crop/1600x1600/center/{{../filename}} 1600w"

            {{#ifEquals ../size 'half'}}
             sizes="(min-width: 900px) 50vw, 100vw"
            {{/ifEquals}}
            {{#ifEquals ../size 'third'}}
             sizes="(min-width: 900px) 33vw, 100vw"
            {{/ifEquals}}
            {{#ifEquals ../size 'fourth'}}
             sizes="(min-width: 900px) 25vw, 100vw"
            {{/ifEquals}}

             alt="Foto bij {{../title}}"
             title="Foto bij {{../title}}"
             class="lazyload"
             data-sizes="auto"/>

        {{{ @partial-block }}}

    </div>

{{else}}

    <div class="img-container {{class}}">

        <img src="https://ucarecdn.com/{{../external_id}}/-/resize/34x/{{../filename}}"
             data-src="https://ucarecdn.com/{{../external_id}}/-/resize/1700x/{{../filename}}"
             data-srcset="
        https://ucarecdn.com/{{../external_id}}/-/resize/760x/{{../filename}} 760w,
        https://ucarecdn.com/{{../external_id}}/-/resize/900x/{{../filename}} 900w,
        https://ucarecdn.com/{{../external_id}}/-/resize/1200x/{{../filename}} 1200w,
        https://ucarecdn.com/{{../external_id}}/-/resize/1700x/{{../filename}} 1700w,
        https://ucarecdn.com/{{../external_id}}/-/resize/2500x/{{../filename}} 2500w"

        {{#ifEquals size 'half'}}
            sizes="(min-width: 900px) 50vw, 100vw"
        {{/ifEquals}}
        {{#ifEquals size 'third'}}
            sizes="(min-width: 900px) 33vw, 100vw"
        {{/ifEquals}}
        {{#ifEquals size 'fourth'}}
            sizes="(min-width: 900px) 25vw, 100vw"
        {{/ifEquals}}

         alt="Foto bij {{title}}"
         title="Foto bij {{title}}"
         class="lazyload"
         data-sizes="auto"/>

        {{{ @partial-block }}}

    </div>

{{/ifEquals}}
