<noscript>
    <img src="https://ucarecdn.com/{{image.external_id}}/-/resize/1700x/{{image.filename}}" alt="{{image.alt-text}}" title="{{image.alt-text}}" />
</noscript>

{{#ifEquals format 'camera' }}

    <div class="img-container camera {{../image.class}}">

        <img src="https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/60x40/center/{{../image.filename}}"
             data-src="https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/600x400/center/{{../image.filename}}"
             data-srcset="
            https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/600x400/center/{{../image.filename}} 760w,
            https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/900x600/center/{{../image.filename}} 900w,
            https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/1200x800/center/{{../image.filename}} 1200w,
            https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/1800x1200/center/{{../image.filename}} 1700w,
            https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/2400x1600/center/{{../image.filename}} 2500w"

            {{#ifEquals ../size 'half'}}
             sizes="(min-width: 900px) 50vw, 100vw"
            {{/ifEquals}}
            {{#ifEquals ../size 'third'}}
             sizes="(min-width: 900px) 33vw, 100vw"
            {{/ifEquals}}
            {{#ifEquals ../size 'fourth'}}
             sizes="(min-width: 900px) 25vw, 100vw"
            {{/ifEquals}}

             alt="{{image.alt-text}}"
             title="{{image.alt-text}}"
             class="lazyload"
             data-sizes="auto"/>

    </div>

{{else ifEquals ../format 'square'}}

    <div class="img-container square {{../class}}">

        <img
             src="https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/40x40/center/{{../image.filename}}"
             data-src="https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/400x400/center/{{../image.filename}}"
             data-srcset="
                https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/400x400/center/{{../image.filename}} 400w,
                https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/800x800/center/{{../image.filename}} 800w,
                https://ucarecdn.com/{{../image.external_id}}/-/scale_crop/1600x1600/center/{{../image.filename}} 1600w"

            {{#ifEquals ../size 'half'}}
             sizes="(min-width: 900px) 50vw, 100vw"
            {{/ifEquals}}
            {{#ifEquals ../size 'third'}}
             sizes="(min-width: 900px) 33vw, 100vw"
            {{/ifEquals}}
            {{#ifEquals ../size 'fourth'}}
             sizes="(min-width: 900px) 25vw, 100vw"
            {{/ifEquals}}

             alt="{{image.alt-text}}"
             title="{{image.alt-text}}"
             class="lazyload"
             data-sizes="auto"/>

    </div>

{{else}}

    <div class="img-container {{class}}">

        <img src="https://ucarecdn.com/{{../image.external_id}}/-/resize/34x/{{../image.filename}}"
             data-src="https://ucarecdn.com/{{../image.external_id}}/-/resize/1700x/{{../image.filename}}"
             data-srcset="
        https://ucarecdn.com/{{../image.external_id}}/-/resize/760x/{{../image.filename}} 760w,
        https://ucarecdn.com/{{../image.external_id}}/-/resize/900x/{{../image.filename}} 900w,
        https://ucarecdn.com/{{../image.external_id}}/-/resize/1200x/{{../image.filename}} 1200w,
        https://ucarecdn.com/{{../image.external_id}}/-/resize/1700x/{{../image.filename}} 1700w,
        https://ucarecdn.com/{{../image.external_id}}/-/resize/2500x/{{../image.filename}} 2500w"

        {{#ifEquals size 'half'}}
            sizes="(min-width: 900px) 50vw, 100vw"
        {{/ifEquals}}
        {{#ifEquals size 'third'}}
            sizes="(min-width: 900px) 33vw, 100vw"
        {{/ifEquals}}
        {{#ifEquals size 'fourth'}}
            sizes="(min-width: 900px) 25vw, 100vw"
        {{/ifEquals}}

         alt="Foto bij {{image.alt-text}}"
         title="Foto bij {{image.alt-text}}"
         class="lazyload"
         data-sizes="auto"/>

    </div>

{{/ifEquals}}
