
{{#each body.sections as |section|}}

    <section class="section {{section.type}} {{containerClass section.type}} {{section.style}} {{section.formation}} {{section.orientation}}">

        {{#ifEquals section.type 'paragraph'}}
            <div class="text">{{{section.text}}}</div>
        {{/ifEquals}}

        {{#ifEquals section.type 'streamer'}}
            <div>
				{{{section.text}}}
            </div>
        {{/ifEquals}}

        {{#ifEquals section.type 'images'}}

            {{section.image_count}}
            {{section.image_orientation}}

            {{#each section.images as |image|}}

                <div class="image-item">
                    {{> responsive-image image=image format=(imageFormat @index section.formation section.orientation) }}
                    <div class="image-item-overlay">
                        <span class="text">{{ image.caption }}</span>
                        {{#if image.credit}}<span class="photographer">Foto: {{image.credit}}</span>{{/if}}
                    </div>
                </div>

            {{/each}}

        {{/ifEquals}}


        {{#ifEquals section.type 'quote'}}
            <!-- <div class="image-container">
                <noscript>
                    <img src="https://ucarecdn.com/{{section.image.external_id}}/{{section.image.filename}}" alt="Foto van {{section.image.caption}}" title="Foto van {{section.image.caption}}" />
                </noscript>
                <img src="https://ucarecdn.com/{{section.image.external_id}}/{{section.image.filename}}"
                     srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
                     data-srcset="
                                    https://ucarecdn.com/{{section.image.external_id}}/-/resize/200x/{{section.image.filename}} 220w,
                                    https://ucarecdn.com/{{section.image.external_id}}/-/resize/300x/{{section.image.filename}} 300w,
                                    https://ucarecdn.com/{{section.image.external_id}}/-/resize/600x/{{section.image.filename}} 600w,
                                    https://ucarecdn.com/{{section.image.external_id}}/-/resize/900x/{{section.image.filename}} 900w"
                     data-sizes="auto"
                     class="lazyload"
                     alt="Foto van {{section.image.caption}}"
                     title="Foto van {{section.image.caption}}"
                     onload="fadeInImage(this)"
                />
            </div> -->
            <div class="textblock">
                <div class="text">"{{section.text}}"</div>
                <span>{{section.name}}</span> {{#if section.organisation}}<span>{{section.organisation}} {{/if}}</span>
            </div>
        {{/ifEquals}}


        {{#ifEquals section.type 'video'}}

            <div class="video-wrapper">
                <iframe width="560" height="349" src="https://www.youtube.com/embed/{{section.youtube_id}}" frameborder="0" allowfullscreen></iframe>
                <img class="still-image" src="https://i1.ytimg.com/vi/{{section.youtube_id}}/sddefault.jpg" />
                <div class="play-knop" onclick="videoPlay(this)">
                    <svg viewBox="0 0 1792 1792" xmlns="http://www.w3.org/2000/svg"><path d="M896 128q209 0 385.5 103t279.5 279.5 103 385.5-103 385.5-279.5 279.5-385.5 103-385.5-103-279.5-279.5-103-385.5 103-385.5 279.5-279.5 385.5-103zm384 823q32-18 32-55t-32-55l-544-320q-31-19-64-1-32 19-32 56v640q0 37 32 56 16 8 32 8 17 0 32-9z"/></svg>
                </div>
            </div>
        {{/ifEquals}}

    </section>

{{/each}}
