<!DOCTYPE html>
<html>

{{> head}}

<body id="page">

{{> header }}

<main id="main">

<<<<<<< HEAD
    <article>

        <div class="container-large">
            <div class="post-header">
                <div class="date">{{{body.title}}}</div>
                <h2 class="">{{body.subtitle}}</h2>
            </div>
        </div>

        <div class="post-intro container-small">
            {{{body.content}}}
        </div>

        {{> sections }}

    </article>
=======
    <div class="container-large">
        <div class="post-header">
            <div class="date">{{{body.title}}}</div>
            <h2 class="">{{body.subtitle}}</h2>
        </div>
    </div>

    <div class="post-intro container-small">
        {{{body.content}}}
    </div>

    {{> sections }}
>>>>>>> 520bbbdde1a47787279b15241fc2535f63369e90

</main>

{{> footer }}

</body>

</html>
