<!DOCTYPE html>
<html>
{{> head}}


<body id="homepage">

{{> header }}

<main>

    <div class="container-medium">

        <section id="section-magazine" class="section-half">

            <a href="{{body.posts.[0].url}}" id="featured-blog" class="block blog">

                <h2>{{body.posts.[0].title.rendered}}</h2>
                <span class="author">{{body.posts.[0].author.first_name}} {{body.posts.[0].author.last_name}}</span>
                <span class="date">{{formatDate body.posts.[0].date 'D MMMM YYYY'}}</span>

                {{> icon-energy }}
            </a>

            <a href="{{body.activities.[0].url}}" id="coming-event" class="block activity">

                <span class="author">Next meetup: {{formatDate body.activities.[0].calendar.startDate 'DD MMMM'}}</span>
                <h2>{{body.activities.[0].title}}</h2>
                <div class="content">{{{body.activities.[0].content}}}</div>

                {{> icon-energy }}

            </a>

            <div class="flex-row">

                <div id="blog-list">

                    {{#each (offset body.posts 1) as |post| }}

                            {{> block item=post }}

                    {{/each}}

                </div>


                <div id="curated-list">

                    <h2 class="subheader" >Reading List</h2>

                    <span class="week">{{body.links.title.rendered}}</span>

                    {{#each body.links.recommendations as | link | }}

                        <div class="recommendation">

                            <div class="recommendation--tag">
                                <span>{{ indexBump @index }}</span>. {{link.tag}}
                            </div>
                            <div class="recommendation--title">
                                {{link.title}}
                            </div>
                            <div class="recommendation--subtitle">
                                {{link.subtitle}}
                            </div>

                        </div>


                    {{/each}}

                </div>

            </div>

        </section>

        <section id="section-community" class="section-half">

            <div id="dao-block">
                dao dashboard

                1870 BC in supply
                80 BCD minted this week
                320 BCD minted last month
                Backed by 5 ETH
                1 BCD = 0,00267 ETH
                1 BCD = $0.24

            </div>

            <div id="community-block">

                <h2 class="subheader">Discussion</h2>

                {{#each body.discussion as |blog|}}

                    <article class="{{#ifEquals @index 0}}active{{/ifEquals}}">

                        <div class="discussion-comments">
                            <!--<span class="blog-comment-count smallerfont">Reacties op dit artikel ({{blog.interaction.comment_count}})</span>-->
                            <div class="scrolltainer">
                                {{#each blog.interaction.nested_comments as |thread| }}
                                    {{#each thread as |comment| }}
                                        <div class="comment {{#ifEquals @index 0}}threadhead{{/ifEquals}}">
                                            <span class='date'> {{comment.name}} | {{formatDate comment.date 'comment' }} <span class='rating-value'>{{#ifMoreThan rating 0}} | +{{../rating}}{{/ifMoreThan}}</span></span>

                                            <div class="comment-text">
                                                {{{ comment.content}}}
                                            </div>
                                        </div>
                                    {{/each}}
                                {{/each}}
                            </div>
                        </div>

                    </article>
                {{/each}}

            </div>


        </section>

    </div>

</main>


{{> footer }}
</body>
</html>
