<!DOCTYPE html>
<html>
{{> head}}


<body id="homepage">

{{> header }}

<main>

    <div class="container-medium">

        <section id="section-magazine" class="section-half">

            <a href="{{body.posts.[0].url}}" id="featured-blog" class="block">

                <h2>{{body.posts.[0].title.rendered}}</h2>
                <span class="author">{{body.posts.[0].author.first_name}} {{body.posts.[0].author.last_name}}</span>
                <span class="date">{{formatDate body.posts.[1].date 'D MMMM YYYY'}}</span>

                {{> icon-energy }}
            </a>

            <div id="recent-comments" class="block">
                recent comments
            </div>

            <div class="flex-row">

                <div id="blog-list">

                    <a href="{{body.posts.[1].url}}" class="block">

                        <span class="date">{{formatDate body.posts.[1].date 'D MMMM YYYY'}}</span>
                        <h2>{{body.posts.[1].title.rendered}}</h2>
                        <span class="author">{{body.posts.[1].author.first_name}} {{body.posts.[1].author.last_name}}</span>

                    </a>


                    <a href="{{body.posts.[2].url}}" class="block">

                        <span class="date">{{formatDate body.posts.[2].date 'D MMMM YYYY'}}</span>
                        <h2>{{body.posts.[2].title.rendered}}</h2>
                        <span class="author">{{body.posts.[2].author.first_name}} {{body.posts.[2].author.last_name}}</span>

                    </a>

                    <div class="block">
                        blog 4
                    </div>

                    <div class="block">
                        blog 5
                    </div>

                </div>


                <div id="curated-list">

                    <h2>{{body.links.title.rendered}}</h2>

                    {{#each body.links.recommendations as | link | }}

                        <div class="recommendation">

                            <div class="recommendation--tag">
                                <span>{{@index}}</span>. {{link.tag}}
                            </div>
                            <div class="recommendation--title">
                                {{link.title}}
                            </div>
                            <div class="recommendation--subtitle">
                                {{link.subtitle}}
                            </div>

                        </div>


                    {{/each}}

                </div>

            </div>

        </section>

        <section id="section-community" class="section-half">

            <div id="dao-block">
                dao dashboard
            </div>

            <div id="community-block">
                community
            </div>


        </section>

    </div>

</main>


{{> footer }}
</body>
</html>
