<!DOCTYPE html>
<html>
{{> head}}


<body id="homepage">

{{> header }}

<main>

    <div class="container-medium">

        <section id="section-magazine" class="section-half">

            <a href="{{body.posts.[0].url}}" id="featured-blog" class="block blog">

                <h2>{{body.posts.[0].title.rendered}}</h2>
                <span class="author">{{body.posts.[0].author.first_name}} {{body.posts.[0].author.last_name}}</span>
                <span class="date">{{formatDate body.posts.[0].date 'D MMMM YYYY'}}</span>

                {{> icon-energy }}
            </a>

            <a href="{{body.activities.[0].url}}" id="coming-event" class="block activity">

                <!--<span class="date">{{formatDate body.activities.[0].calendar.startDate 'DD MMMM'}}</span>-->
                <h2>{{body.activities.[0].title.rendered}}</h2>
                <div>{{{body.activities.[0].content.rendered}}}</div>

                {{json body.activities}}

            </a>

            <div class="flex-row">

                <div id="blog-list">

                    {{#each (offset body.posts 1) as |post| }}

                            {{> block item=post }}

                    {{/each}}

                </div>


                <div id="curated-list">

                    <h2>{{body.links.title.rendered}}</h2>

                    {{#each body.links.recommendations as | link | }}

                        <div class="recommendation">

                            <div class="recommendation--tag">
                                <span>{{ indexBump @index }}</span>. {{link.tag}}
                            </div>
                            <div class="recommendation--title">
                                {{link.title}}
                            </div>
                            <div class="recommendation--subtitle">
                                {{link.subtitle}}
                            </div>

                        </div>


                    {{/each}}

                </div>

            </div>

        </section>

        <section id="section-community" class="section-half">

            <div id="dao-block">
                dao dashboard
            </div>

            <div id="community-block">
                community
            </div>


        </section>

    </div>

</main>


{{> footer }}
</body>
</html>
