<!DOCTYPE html>
<html>

{{> head}}

<body id="blog">

{{> header }}

<main id="main">

    <article>

        <div class="container-large">
            <div class="post-header">

                <div class="post-intro--stats">
                    <div class="event-date">
                        <span class="date">{{formatDate body.calendar.startDate.date 'DD'}}</span>
                        <span class="date">{{formatDate body.calendar.startDate.date 'MMM'}}</span>
                    </div>

                    <div class="post-intro--stats--votes--up">{{>icon-thumbs-up}}<span>{{body.interaction.appreciation.positive_count}}</span></div>
                    <div class="post-intro--stats--votes--down">{{>icon-thumbs-up}}<span>{{body.interaction.appreciation.negative_count}}</span></div>
                    <div class="post-intro--stats--commentcount">{{> icon-comments }}{{body.interaction.comment_count}}</div>
                </div>

                <div class="post-intro--title">
                    <h2 class="">{{{body.title }}}</h2>
                    <div class="date">Last updated at {{formatDate body.modified 'D MMMM YYYY'}}</div>

                </div>

            </div>
        </div>

        <div class="post-intro container-small">

            {{{body.content }}}
        </div>

        {{> sections }}


        <div class="event-info container-small">

            <h3>Location:</h3>

            {{ body.event.location.name }}<br/>
            {{ body.event.location.submitted_address }}
            

            <h3>Sessions</h3>

            <ul>

                <li> {{ formatDate body.event.date.startTime 'HH:mm'}}  </li>

            {{#each body.sessions as |session| }}

                <li>

                    {{session.start_time}} - {{session.end_time}} : {{session.name}}

                </li>

            {{/each}}

                <li> {{ formatDate body.event.date.endTime 'HH:mm'}}  </li>

            </ul>

        </div>


            {{> comment-section}}


    </article>

</main>


<section id="related-posts">

    <div class="container-large">
        <!--<h2>Lees ook</h2>-->


    </div>

</section>

{{> footer }}

</body>

</html>
